<div class="d-flex justify-content-md-between align-items-center">
    <h2>All products - <%=company.name%></h2>
    <% if(isMyCompany) { %>
    <a class="btn btn-primary" href="/product/add">Add product</a>
    <% } %>
</div>
<div class="row">
    <% products.forEach(product => { %>
    <div class="col-md-3">
        <div class="card my-2">
            <a class="p-2 d-flex justify-content-between" href="/product/<%=product._id%>"><%= product.name %>
                <p class="text-right m-0"><%= product.price %></p>
            </a>
            <% if(product.imageUrl) { %>
            <img class="w-100" src="<%=product.imageUrl%>">
            <% } %>
        </div>
    </div>
    <% }) %>
    <% if(products.length === 0) { %>
    <div class="col-md-6 mx-auto text-center">
        <div class="alert alert-info">
            <h2>No products in this company</h2>
        </div>
    </div>
    <% } %>
</div>