<% if(locals.messages.success) { %>
    <div class="alert alert-success">
        <%= locals.messages.success %>
    </div>
<% } %>
<div class="col-md-6 my-4 mx-auto">
    <table class="table table-bordered">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
            <th scope="col">Price</th>
        </tr>
        <tr>
            <td><%=product.name%></td>
            <td>
                <img class="w-100" src="<%=product.imageUrl %>" alt="<%=product.name%>">
            </td>
            <td><%= Number(product.price).toFixed(2) %></td>
        </tr>
    </table>
    <% if(isMyProduct) { %>
        <a class="btn btn-warning" href="/product/edit/<%=product._id%>">Edit</a>
        <a class="btn btn-danger" href="/product/delete/<%=product._id%>">Dismiss</a>
    <% } %>
</div>