<div class="col-md-6 mx-auto">
    <h2>Edit product</h2>
    <form action="/product/edit/<%=product._id%>" method="POST">
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" id="name" autofocus value="<%=product.name%>" name="name">
        </div>
        <div class="form-group">
            <label for="imageUrl">Image</label>
            <input class="form-control" type="text" id="imageUrl" value="<%=product.imageUrl%>" name="imageUrl">
        </div>
        <div class="form-group">
            <label for="price-product">Price</label>
            <input class="form-control" type="text" id="price-product" value="<%=Number(product.price).toFixed(2) %>" name="price">
        </div>
        <div class="form-group">
            <label for="companyId">Select company</label>
            <select class="form-control" name="companyId" id="companyId">
                <% companies.forEach(company => { %>
                <option value="<%=company._id%>"><%= company.name%></option>
                <% }) %>
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Edit product</button>
    </form>
</div>