<h2><%= company.name %></h2>
<ul>
    <% if(company.phoneNumber) { %>
        <li>
            <%= company.phoneNumber %>
        </li>
    <% } %>
    <% if(!company.phoneNumber && isMyCompany) { %>
        <li>
            <a href="/company/edit/<%=company._id%>">Add phone number</a>
        </li>
    <% } %>
    <% if(company.imageUrl) { %>
        <li>
            <img src="<%=company.imageUrl%>">
        </li>
    <% } %>
    <% if(!company.imageUrl && isMyCompany) { %>
        <li>
            <a href="/company/edit/<%=company._id%>">Add company logo</a>
        </li>
    <% } %>
</ul>
<% if(isMyCompany) { %>
    <a href="/company/edit/<%=company._id%>">Edit</a>
    <a href="/company/delete/<%=company._id%>">Dismiss</a>
    <a href="/shop/<%=company._id%>">View all shops</a>
<% } %>

<br>

<a href="/product/all/<%=company._id%>">View products of the company</a>