<% if(locals.messages.success) { %>
    <div class="alert alert-success">
        <%= locals.messages.success %>
        <strong>
            <p>Please, press the exit button and log in again, for all changes to be applied!</p>
        </strong>
    </div>
<% } %>
<h2 class="text-center">My companies</h2>
<div class="d-flex justify-content-center my-4">
    <% companies.forEach(company => { %>
        <div class="col-md-4 card p-0">
            <img class="w-100" src="<%=company.imageUrl%>">
            <div class="d-flex justify-content-between">
                <a class="m-2 btn btn-link" href="/company/<%=company._id%>"><%= company.name %></a>
                <a class="m-2 btn btn-link" href="/company/candidations/<%=company._id%>">Show candidations</a>
            </div>
        </div>
    <% }) %>
</div>