<div class="col-md-6 mx-auto">
    <% if(error) { %>
        <div class="alert alert-danger">
            <p><%= error %></p>
        </div>
    <% } %>
    <h2>Create shop</h2>
    <% if(isValid) { %>
        <form action="/shop/add" method="POST">
            <div class="form-group">
                <label for="address">Address</label>
                <input class="form-control" type="text" id="address" autofocus value="<%=shop.address%>" name="address">
            </div>
            <div class="form-group">
                <label for="companyId">Select company</label>
                <select class="form-control" name="companyId" id="companyId">
                    <% companies.forEach(company => { %>
                        <option value="<%=company._id%>"><%= company.name%></option>    
                        <% }) %>
                    </select>
                    <label for="workerId">Select worker</label>
            </div>
            <div class="form-group">
                <select class="form-control" name="workerId" id="workerId">
                    <% workers.forEach(worker => { %>
                        <option value="<%=worker._id%>"><%= worker.fullName%></option>    
                    <% }) %>
                </select>
            </div>
            <button class="btn btn-primary" type="submit">Create shop</button>
        </form>
    <% } %>
    <% if(!isValid) { %>
        <p>Dot be added shop because uot do not workers!</p>
        <a href="/company/allWorkers/<%=companyId%>">Add worker</a>
    <% } %>
</div>